#_button {
	
	-fx-background-color: #65350F;
	-fx-text-fill: #BAA378;
}

#_pane {
	-fx-color: #382E1C;
	color: #382E1C;
	-fx-background-color: #382E1C;
	-fx-background: #382E1C;
	-fx-text-fill: #BAA378;
	-fx-font-fill: #BAA378;
}

#_checkBoxToggle, #_selectAllToggle {
	-fx-background-color: #382E1C;
	-fx-text-fill: #BAA378;
	-fx-font-fill: #BAA378;
}
.combo-box-base:hover
{
	-fx-color: #BAA378;
}

#_tabParent {
	-fx-background-color: #382E1C;
}

#_label {
	-fx-background-color: #382E1C;
	-fx-text-fill: #BAA378;
}

#_qualityLabel {
	-fx-background-color: #453823;
	-fx-text-fill: #BAA378;
}

#_searchBar {
	-fx-background-color: #453823;
	-fx-text-fill: #BAA378;
}

#_background {
	-fx-background-color: #382E1C;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: #453823;
	-fx-skin: #BAA378;
}

.tab .tab-label {
	-fx-background-color: #382E1C;
	-fx-text-fill: #BAA378;
}

.tab {
	-fx-background-color: #382E1C;
}

.scroll-pane .scroll-bar:horizontal, .scroll-pane .scroll-bar:horizontal .track {
	-fx-background-color: #65350F;
	-fx-background-radius: 0;
}

.scroll-pane {
	-fx-background-color: #382E1C;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
	-fx-background-color: #65350F;
}

.increment-button, .decrement-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: #BAA378;
	-fx-background-radius: 5em;
}


