#_button {
	-fx-background-color: #65350F;
	-fx-text-fill: #BAA378;
	-fx-accent: #BAA378;
}

#_label {
	-fx-background-color: #382E1C;
	-fx-text-fill: #BAA378;
}

#_pane, .scrollPane {
	-fx-background-color: #382E1C;
	-fx-background: #BAA378;
}

#_background {
	-fx-background-color: #382E1C;
}

#_label {
	-fx-background-color: #382E1C;
	-fx-text-fill: #BAA378;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: #453823;
	-fx-skin: #BAA378;
}

.tab .tab-label {
	-fx-background-color: #453823;
	-fx-text-fill: #BAA378;
}

.tab {
	-fx-background-color: #382E1C;
}