#_background {
	-fx-background-color: #382E1C;
}

#_button {
	-fx-background-color: #453823;
	-fx-text-fill: #BAA378;
}

#_label {
	-fx-background-color: #382E1C;
	-fx-text-fill: #BAA378;
}

#_themePane {
	-fx-background-color: #382E1C;
}



