#_button {
	-fx-background-color: #65350F;
	-fx-text-fill: #BAA378;
	-fx-accent: #BAA378;
}

#_label {
	-fx-background-color: #382E1C;
	-fx-text-fill: #BAA378;
}

#_pane {
	-fx-background-color: #382E1C;
	-fx-background: #BAA378;
}

#_background {
	-fx-background-color: #382E1C;
}

#_label {
	-fx-background-color: #382E1C;
	-fx-text-fill: #BAA378;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: #453823;
	-fx-skin: #BAA378;
}

.tab .tab-label {
	-fx-background-color: #453823;
	-fx-text-fill: #BAA378;
}

.tab {
	-fx-background-color: #382E1C;
}

.jfx-slider > .colored-track, .jfx-slider > .thumb, .jfx-slider > .animated-thumb {
	-fx-background-color: #BAA378;
}

#_progressBar > .bar {
	-fx-background-color: #BAA378;
}

.scroll-pane .scroll-bar:horizontal, .scroll-pane .scroll-bar:horizontal .track {
	-fx-background-color: #65350F;
	-fx-background-radius: 0;
}

.spinner {
	-fx-prompt-text-fill: black;
	-fx-text-fill: black;
	-fx-background-color: none;

	-fx-padding: 0 0 3 0;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color: #007cff;
	-fx-font-size: 30px;
}

.spinner .text-field {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #bdbdbd;
}

.scroll-pane {
	-fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
	-fx-background-color:transparent;
}

.increment-button, .decrement-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: white;
	-fx-background-radius: 5em;
}