#_button {
	
	-fx-background-color: rgb(50, 50, 50, 0.9);
	-fx-text-fill: red;
}

#_pane, .scrollPane {
	-fx-background-color: rgb(80, 80, 80);
	-fx-background: rgb(80, 80, 80);
}

#_checkBoxToggle, #_selectAllToggle {
	-fx-background-color: rgb(80, 80, 80);
	-fx-text-fill: red;
}

#_tabParent {
	-fx-background-color: rgb(80, 80, 80);
}

#_label {
	-fx-background-color: black;
	-fx-text-fill: red;
}

#_searchBar {
	-fx-background-color: rgb(80, 80, 80);
}

#_background {
	-fx-background-color: black;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: rgb(50, 50, 50);
	-fx-skin: red;
}

#_image {
	-fx-background: rgb(80,80,80);
	-webkit-filter: invert(1);
	filter: invert(100%);
}



