#_button {
    -fx-background-color: rgb(50, 50, 50, 0.9);
	-fx-text-fill: red;
	-fx-accent: crimson;
}

#_pane, .scrollPane {
	-fx-background-color: rgb(80, 80, 80);
	-fx-background: rgb(80, 80, 80);
}

#_background {
	-fx-background-color: black;
}

#_label {
	-fx-text-fill: red;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: rgb(50, 50, 50);
	-fx-skin: red;
}



/**
#_micSensitivityBar > .track, #_micSensitivityBar > .bar {
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-background-color: red;
}

#_volumeBar > .track, #_volumeBar > .slider {
	-fx-control-inner-background: red;
}
*/