#_button {
	
	-fx-background-color: rgb(50, 50, 50, 0.9);
	-fx-text-fill: red;
}

#_pane {
	-fx-color: rgb(50, 50, 50);
	color: rgb(50, 50, 50);
	-fx-background-color: rgb(50, 50,50);
	-fx-background: rgb(50, 50, 50);
	-fx-text-fill: red;
}

#_checkBoxToggle, #_selectAllToggle {
	-fx-background-color: rgb(50, 50, 50);
	-fx-text-fill: red;
}

#_tabParent {
	-fx-background-color: rgb(50, 50, 50);
}

#_label {
	-fx-background-color: black;
	-fx-text-fill: red;
}

#_searchBar {
	-fx-background-color: rgb(50, 50, 50);
	-fx-text-fill: red;
}

#_background {
	-fx-background-color: black;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: rgb(50, 50, 50);
	-fx-text-fill: rgb(50, 50, 50);
	-fx-skin: red;
}

.tab .tab-label {
	-fx-background-color: rgb(50, 50, 50);
	-fx-text-fill: red;
}




