#_button {
    -fx-background-color: #3C373D;
	-fx-text-fill: #F92F08;
	-fx-accent: crimson;
}

#_pane, .scrollPane {
	-fx-background-color: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
}

#_background {
	-fx-background-color: black;
}

#_label {
	-fx-text-fill: #F92F08;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: rgb(50, 50, 50);
	-fx-skin: #F92F08;
}

.tab .tab-label {
	-fx-background-color: rgb(50, 50, 50);
	-fx-text-fill: #F92F08;
}

.tab {
	-fx-background-color: black;
}

.jfx-slider > .colored-track, .jfx-slider > .thumb, .jfx-slider > .animated-thumb {
	-fx-background-color: #F92F08;
}

#_progressBar > .bar {
	-fx-background-color: #F92F08;
}