#_background {
	-fx-background-color: black;
}

#_button {
	-fx-background-color: rgb(50, 50, 50, 0.9);
	-fx-text-fill: red;
}

#_label {
	-fx-background-color: black;
	-fx-text-fill: red;
}

#_themePane {
	-fx-background-color: black;
}


