#_background {
	-fx-background-color: black;
}

#_button {
	-fx-background-color: #3C373D;
	-fx-text-fill: #F92F08;
}

#_label {
	-fx-background-color: rgb(50, 50, 50);
	-fx-text-fill: #F92F08;
}

#_themePane {
	-fx-background-color: rgb(50, 50, 50);
}

#_pointLabel {
	-fx-background-color: black;
	-fx-text-fill: #F92F08;
}


