#_button {
    -fx-background-color: rgb(50, 50, 50, 0.9);
	-fx-text-fill: red;
	-fx-accent: crimson;
}

#_pane, .scrollPane {
	-fx-background-color: rgb(80, 80, 80);
	-fx-background: rgb(80, 80, 80);
}

#_background {
	-fx-background-color: black;
}

#_label {
	-fx-text-fill: red;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: rgb(50, 50, 50);
	-fx-skin: red;
}

.tab .tab-label {
	-fx-background-color: rgb(50, 50, 50);
	-fx-text-fill: red;
}

.tab {
	-fx-background-color: black;
}