#_button {
    -fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
	-fx-accent: #F5AB99;
}

#_label {
	-fx-text-fill: #F5AB99
}

#_pane {
	-fx-background-color: #765285;
}

#_background {
	-fx-background-color: #351C4D;
}

#_label {
	-fx-text-fill: #F5AB99;
}