#_pane, #_checkBox, #_checkComboBox {
	-fx-background-color: #351C4D;
	color: #351C4D;
	-fx-text-fill: #F5AB99;
	-fx-check-color: #351C4D;
}

#_label {
	-fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
}