#_button {
	
	-fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
}

#_pane {
	-fx-background-color: #765285;
}

#_checkBoxToggle, #_selectAllToggle {
	-fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
}

#_tabParent {
	-fx-background-color: #765285;
}

#_label {
	-fx-background-color: #351C4D;
	-fx-text-fill: #F5AB99;
}

#_searchBar {
	-fx-background-color: #765285;
}

#_background {
	-fx-background-color: #351C4D;
}


