#_button {
	
	-fx-background-color: #AB537C;
	-fx-text-fill: #F5AB99;
}

#_pane {
	-fx-color: #765285;
	color: #351C4D;
	-fx-background-color: #351C4D;
	-fx-background: #351C4D;
	-fx-text-fill: #F5AB99;
	-fx-font-fill: #F5AB99;
}

#_checkBoxToggle, #_selectAllToggle {
	-fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
	-fx-font-fill: #F5AB99;
}

#_tabParent {
	-fx-background-color: #351C4D;
}

#_label {
	-fx-background-color: #351C4D;
	-fx-text-fill: #F5AB99;
}

#_qualityLabel {
	-fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
}

#_searchBar {
	-fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
}

#_background {
	-fx-background-color: #351C4D;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: #765285;
	-fx-skin: #F5AB99;
}

.tab .tab-label {
	-fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
}

.tab {
	-fx-background-color: #765285;
}

.scroll-pane .scroll-bar:horizontal, .scroll-pane .scroll-bar:horizontal .track {
	-fx-background-color: #AB537C;
	-fx-background-radius: 0;
}

.scroll-pane {
	-fx-background-color: #351C4D;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
	-fx-background-color: #AB537C;
}

.increment-button, .decrement-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: #F5AB99;
	-fx-background-radius: 5em;
}


