#_background {
	-fx-background-color: #351C4D;
}

#_button {
	-fx-background-color: #765285;
	-fx-text-fill: #F5AB99;
}

#_label {
	-fx-background-color: #351C4D;
	-fx-text-fill: #F5AB99;
}

#_themePane {
	-fx-background-color: #351C4D;
}


