#_saveCurButton, #_recordButton, #_playCurButton, #_deleteCurButton, #_playSelectedButton, #_deleteSelectedButton, 
#_playButton, #_nextButton, #_prevButton {
    -fx-background-color: rgb(50, 50, 50, 0.9);
	-fx-text-fill: red;
}

#_recordingPane {
	-fx-background-color: rgb(80, 80, 80);
}

#_background {
	-fx-background-color: black;
}

#_nameLabel, #_volumeLabel, #_micSensitivityLabel {
	-fx-text-fill: red;
}

