#_pracButton {
	-fx-background-color: rgb(0, 255, 0, 0.4);
}

#_addToListButton {
	-fx-background-color: rgba(218, 198, 175, 0.4);
}

#_uploadButton {
	-fx-background-color: rgba(218, 198, 175, 0.4);
}

#_pracSelButton {
	-fx-background-color: rgb(0, 255, 0, 0.4);
}

#_removeSelButton {
	-fx-background-color: rgb(255, 0, 0, 0.4);
}

#_deleteSelButton {
	-fx-background-color: rgb(255, 0, 0, 0.4);	
}

#_practiceListPane {
	-fx-background-color: rgb(230, 230, 230);
}

#_recordingListPane {
	-fx-background-color: rgb(230, 230, 230);
}

#_checkBoxToggle {
	-fx-background-color: rgb(230, 230, 230);
}

#_selectAllToggle {
	-fx-background-color: rgb(230, 230, 230);
}

#_tabParent {
	-fx-background-color: rgb(230, 230, 230);
}

#_tabAnchorPane {
	-fx-background-color: rgb(230, 122, 119);
}

.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
	-fx-background-color: green;
}

.jfx-tab-pane .headers-region
{
	-fx-background-color: cornflowerblue;
}

.jfx-tab-pane .tab-header-background
{
	-fx-background-color: cornflowerblue;
}